[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.2.2"
wtforms = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-migrate = "*"
alembic = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
